<!DOCTYPE html>
<html>

<head>
    <title>TV Shows</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Tv Shows</a></li>
                <li><a href="/favorites">Favorites</a></li>
                <li><a href="/reviews">Reviews</a></li>
            </ul>
        </nav>
    </header>